.logo {
    height: fit-content;
    width: 1200px;
}

body {
    background-color:teal; 
    font-family: Roboto, sans-serif; 
    text-align: center; 
    font-weight: bold; 
    color: white;
}

input {
    width: 30%;
    border: 2px solid blue;
    border-radius: 4px;
    border-top: 4px;
}

form {
    border-radius: 5px;
    border:gray; 
    border-width:0.25em; 
    border-style:double;
    padding: 20px;
}

textarea {
    height: 100px;
    width: 350px;
}